<p>
    {{ impress_property('firstName') }} {{ impress_property('lastName') }}
    <br />
    {{ impress_property('street') }} {{ impress_property('houseNumber') }}
    <br />
    {{ impress_property('zipCode') }} {{ impress_property('city') }}
</p>

<p>
    Telefon: {{ impress_property('phoneNumber') }}
    <br />
    E-Mail: {{ impress:property('emailAddress') }}
</p>